<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Treat Refer a Friend Program - Share and Save $5 Off Your Order</title>
        <meta name="description" content="Offer $5 off your friends' next purchase and receive $5 off your own order" />
        <meta name="keywords" content="" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />		
		<meta name="robots" content="noodp, noydir" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta property="fb:app_id" content="109737885740712" />
		<link rel="alternate" type="application/rss+xml" title="Tiny Talk RSS Feed" href="http://blog.tinyprints.com/feed/" />
		
		<link rel="stylesheet" href="http://static-cdn-1.tp-global.net/css/treat/lib/reset.css,/treat/lib/slideshows.css,/treat/lib/skeleton.css,/treat/core-btns.css,/core-styles.css,/treat/base.css/v201404161033" type="text/css" media="screen" />

		<link rel="stylesheet" href="http://static.treat.com/css/treat/lib/typography.css/v201404161033" type="text/css" media="screen" />

				<script src="http://static-cdn-1.tp-global.net/js/jquery.1.6.4.min.js" type="text/javascript" charset="utf-8"></script>
				<script type='text/javascript'>
			jQuery.noConflict();
			jQ = jQuery;
		</script>

		<!-- start T&T mbox -->
		<script type="text/javascript" src="http://static-cdn.tp-global.net/js/lib/mbox.js"></script>
		<!-- end T&T mbox -->


				<script src="http://static-cdn-1.tp-global.net/js/json2.js,/treat/lib/cycle/jquery.cycle.min.js,/treat/lib/sitewide.js,/treat/lib/cookies-mobile.js/v201404161033" type="text/javascript" charset="utf-8"></script>
		<!-- start GA acct info -->
		
			<script type="text/javascript" charset="utf-8">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-27406931-1']);
				_gaq.push(['_trackPageview']);
				_gaq.push(["_trackPageLoadTime"]);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
			<script type="text/javascript" src="http://www.treat.com/OmnitureSetup"></script>
			<script type="text/javascript">
			/* Shutterfly Webfonts Licensing */
			var MTIProjectId='c2b262a5-040c-4a87-ab7d-536e4fcac1a6';
			 (function() {
			        var mtiTracking = document.createElement('script');
			        mtiTracking.type='text/javascript';
			        mtiTracking.async='true';
			        mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
			        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
			   })();
			</script>
		
    </head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- Global mbox -->
<div class="mboxDefault"></div>
<script type="text/javascript">mboxCreate('Treat_Global_Mbox', 'pageName=');</script>
<!-- Global mbox -->

<div id="global-promo">
	<div class="wrap">
		<div id="h2">
			<h2 id="globalPromo"></h2>
		</div>
		<div id="super-switcher">
			<div class="xbrand">
				<ul>
					<li id="xbrandSfly">
						<a href="http://www.shutterfly.com?cid=CB-TT-headersfly" target="altwindow" rel="NOFOLLOW"></a>
						<div id="brand_rollover_sfly" class="xbrandDropdown">
							<div class="brand_description">
								<div class="brand_rollover_notch_border"></div>
								<div class="brand_rollover_notch"></div>
								Where your pictures come to life<br />in photo books, cards and gifts.
							</div>
						</div>		
					</li>
					<li id="xbrandTp">
						<a href="http://www.tinyprints.com?cid=CB-TT-headerstp" target="altwindow" rel="NOFOLLOW"></a>
						<div id="brand_rollover_tp" class="xbrandDropdown">
							<div class="brand_description">
								<div class="brand_rollover_notch_border"></div>
								<div class="brand_rollover_notch"></div>
								Premium cards and stationery<br />for all life's occasions.
							</div>
						</div>
					</li>
					<li id="xbrandWpd">
						<a href="http://www.weddingpaperdivas.com?cid=CB-TT-headerwpd" target="altwindow" rel="NOFOLLOW"></a>
						<div id="brand_rollover_wpd" class="xbrandDropdown">
							<div class="brand_description">
								<div class="brand_rollover_notch_border"></div>
								<div class="brand_rollover_notch"></div>
								Wedding invitations and<br />stationery for every step<br />of the planning process.
							</div>
						</div>
					</li>
					<li id="xbrandTreat" class="activeBrand">
						<a href="http://www.treat.com?cid=CB-TT-headertreat" target="altwindow" rel="NOFOLLOW"></a>
						<div id="brand_rollover_treat" class="xbrandDropdown">
							<div class="brand_description">
								<div class="brand_rollover_notch_border"></div>
								<div class="brand_rollover_notch"></div>
								Personalized greeting cards<br />that really stand out.
							</div>
						</div>
					</li>
					<li id="xbrandBorrowLenses">
						<a href="http://www.borrowlenses.com?CID=CB-TP-headerborrowlenses" target="altwindow" rel="NOFOLLOW"></a>
						<div id="brand_rollover_borrowLenses" class="xbrandDropdown">
							<div class="brand_description">
								<div class="brand_rollover_notch_border"></div>
								<div class="brand_rollover_notch"></div>
								Online photo and video equipment rental.
							</div>
						</div>
					</li>
					<li id="xbrandThisLife">
						<a href="https://www.thislife.com?CID=CB-TT-headerthislife" target="altwindow" rel="NOFOLLOW"></a>
						<div id="brand_rollover_thislife" class="xbrandDropdown">
							<div class="brand_description">
								<div class="brand_rollover_notch_border"></div>
								<div class="brand_rollover_notch"></div>
								All your photos and videos organized in one place. Find, share, enjoy.
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
	
	<script type="text/javascript"><!--
	/* HIDE-SHOW-CONTENT .... REMOVABLE??
	or atleast can move this to sitewide.js ...

	 */
	function HideContent(d) {
		document.getElementById(d).style.visibility = "hidden";
	}
	
	function ShowContent(d) {
		document.getElementById(d).style.visibility = "visible";
	}
	//-->
	</script>
	

<div id="container">
    <link rel="stylesheet" type="text/css" href="http://static-cdn.tp-global.net/css/treat/widgets/login.css,treat/widgets/popup.css,treat/widgets/manageReminders.css,treat/widgets/contactsEmail.css,treat/widgets/requestAddress.css/v201404161033"/>
<link rel="stylesheet" type="text/css" href="http://static-cdn.tp-global.net/sprite/treat/fb.css,treat/dashboard.css/v201404161033"/>

<div id="header" class="nonPersonalize">
	<div class="wrap">
		<div id="logo">
			<a title="Greeting Cards at Treat" href="http://www.treat.com/">
				<img style="height: 48px; width: 110px;" src="http://static-cdn.tp-global.net/image/treat/misc/treat-logo-2013-11-12.gif" alt="Greeting Cards at Treat">
			</a>
		</div>
		<div id="utility_nav" class="util-nav linear-nav new-visitor">
	<span id="welcome-greeting" class="first"><a title="Join Treat" href="http://www.treat.com/signin.php">Join Treat</a></span>
	<!-- OWNED BY ETT: Do not change the ids of signin_out and fbLoginContainer -->
	<span id="signin_out_span"  class="util-nav-signin">
		<a id="signin_out"  title="Sign in" href="http://www.treat.com/signin.php">Sign In</a>
	</span>
	<span id="myaccount">
		<a  title="Account" href="http://www.treat.com/MyAccount.php">Account</a>
		<div id="myAccountDropDown">
			<a title="Saved Projects" href="http://www.treat.com/MyAccount.php#savedProjects">Saved Projects</a>
			<a title="Favorites" href="http://www.treat.com/comparePicks.html">Favorites</a>
			<a title="Sign Out" href="http://www.treat.com/logout.php">Sign Out</a>
		</div>
	</span>
	<span class="reminders">
		<a title="Reminders" href="http://www.treat.com/dashboard">Reminders</a>
	</span>	
	<span class="basket">
		<a title="Cart" href="http://www.treat.com/cartView.html">Cart <em id="cart-item-num"></em></a>
		<!-- <a href="http://www.treat.com/bagTools?method=getBagItemsCount"></a> -->
	</span>
	<span class="srch">
		<form id="searchForm" name="searchForm" method="get" action="http://www.treat.com/search.php" onsubmit="return allowSlash(this)">
			<input id="searchText" class="input" name="q" maxlength="200" value="Search Treat" placeholder="Search Treat" onfocus=" if(this.value == 'Search Treat') { this.value = ''; }"/>
			<!--<input id="searchSubmit" type="submit" value="" />-->
		</form>
	</span>
</div><!-- #utility_nav  -->

<!-- Unnecessary?? -->
<div id="fb-root"></div>
		<div id="site_nav">
				<ol id="nav">
						<li class="nav-item one">
							<h2><a title="Mother's Day" href="http://www.treat.com/occasions/mothers-day.htm">Mother's Day</a><span class="indicator"></span></h2>
							<div class="sub-nav">
								<h3>This Mother's Day, send love to all the marvelous moms in your life.</h3>
								<span class="sub-column">
									<h4>Paper Cards</h4>
									<a title="Mother" href="http://www.treat.com/shop/mother--mothers-day-cards.htm">Mother</a>
									<a title="Grandmother" href="http://www.treat.com/shop/grandmother--mothers-day-cards.htm">Grandmother</a>
									<a title="Friend" href="http://www.treat.com/shop/friend--mothers-day-cards.htm">Friend</a>
									<a title="New Mom" href="http://www.treat.com/shop/new+mom--mothers-day-cards.htm">New Mom</a>
									<a title="Sister" href="http://www.treat.com/shop/sister--mothers-day-cards.htm">Sister</a>
									<a title="Wife" href="http://www.treat.com/shop/wife--mothers-day-cards.htm">Wife</a>
									<a title="Like A Mom" href="http://www.treat.com/shop/like+a+mom--mothers-day-cards.htm">Like A Mom</a>
									<a title="Shop All" href="http://www.treat.com/shop/mothers-day-cards.htm" class="show-all">Shop All  &rsaquo;</a>
								</span>
								<span class="sub-column">
									<h4>Digital Cards</h4>
									<a title="Mother" href="http://www.treat.com/shop/mother-d--mothers-day-cards.htm">Mother</a>
									<a title="Grandmother" href="http://www.treat.com/shop/grandmother-d--mothers-day-cards.htm">Grandmother</a>
									<a title="Friend" href="http://www.treat.com/shop/friend-d--mothers-day-cards.htm">Friend</a>
									<a title="New Mom" href="http://www.treat.com/shop/new+mom-d--mothers-day-cards.htm">New Mom</a>
									<a title="Sister" href="http://www.treat.com/shop/sister-d--mothers-day-cards.htm">Sister</a>
									<a title="Wife" href="http://www.treat.com/shop/wife-d--mothers-day-cards.htm">Wife</a>
									<a title="Like A Mom" href="http://www.treat.com/shop/like+a+mom-d--mothers-day-cards.htm">Like A Mom</a>
									<a title="Shop All" href="http://www.treat.com/shop/d--mothers-day-cards.htm" class="show-all">Shop All  &rsaquo;</a>
								</span>
								<span class="sub-column">
									<h4>Gifts</h4>
									<a title="Mugs" href="http://www.treat.com/shop/personalized-mug.htm">Mugs</a>
									<a title="Easel Art" href="http://www.treat.com/shop/easel-art.htm">Easel Art</a>
									<a title="Personalized Stationery" href="http://www.treat.com/shop/personalized-note-cards.htm">Personalized Stationery</a>
									<a title="iPhone Cases" href="http://www.treat.com/shop/iphone-case.htm">iPhone Cases</a>
									<a title="Canvas Prints" href="http://www.treat.com/shop/custom-canvas.htm">Canvas Prints</a>
									<a title="Mounted Prints" href="http://www.treat.com/shop/mounted-print.htm">Mounted Prints</a>
									<a title="Add a Gift Card" href="http://www.treat.com/gift-cards.htm">Add a Gift Card</a>
									<a title="Shop All" href="http://www.treat.com/gifts.htm" class="show-all">Shop All  &rsaquo;</a>
								</span>
				                <span class="sub-image">
				                    <img alt="Easter" src="http://static-cdn.tp-global.net/image/treat/thumbs/sitenav_thank-you_2014-04-15.jpg"/>
				                </span>
							</div>
						</li>
						<li class="nav-item two">
							<h2><a title="Birthday" href="http://www.treat.com/birthday-greetings.htm">Birthday</a><span class="indicator"></span></h2>
							<div class="sub-nav">
								<h3>Send better birthday wishes with personalized cards and gifts.</h3>
								<span class="sub-column">
									<h4>PAPER CARDS</h4>
									<a title="For Her" href="http://www.treat.com/shop/wife-girlfriend-daughter-grandmother-mother-sister--birthday-cards.htm">For Her</a>
									<a title="For Him" href="http://www.treat.com/shop/husband-boyfriend-son-grandfather-father-brother--birthday-cards.htm" class="section-break">For Him</a>
									
									<a title="Funny Cards" href="http://www.treat.com/shop/humorous--birthday-cards.htm" class="section-break">Funny Cards</a>
									
									<a title="Photo Cards" href="http://www.treat.com/shop/photos--birthday-cards.htm">Photo Cards</a>
									<a title="Non-Photo Cards" href="http://www.treat.com/shop/0photos--birthday-cards.htm">Non-Photo Cards</a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/birthday-greetings.htm">Shop All &rsaquo;</a>
								</span>
								<span class="sub-column">
									<h4>DIGITAL CARDS</h4>
									<a title="For Her" href="http://www.treat.com/shop/wife-girlfriend-daughter-grandmother-mother-sister-d--birthday-cards.htm">For Her</a>
									<a title="For Him" href="http://www.treat.com/shop/husband-boyfriend-son-grandfather-father-brother-d--birthday-cards.htm" class="section-break">For Him</a>
									
									<a title="Funny Cards" href="http://www.treat.com/shop/humorous-d--birthday-cards.htm" class="section-break">Funny Cards</a>

									<a title="Photo Cards" href="http://www.treat.com/shop/photos-d--birthday-cards.htm">Photo Cards</a>
									<a title="Non-Photo Cards" href="http://www.treat.com/shop/0photos-d--birthday-cards.htm">Non-Photo Cards</a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/shop/d--birthday-cards.htm">Shop All &rsaquo;</a>
								</span>
								<span class="sub-column">
									<h4>Gifts</h4>
									<a title="Mugs" href="http://www.treat.com/shop/personalized-mug.htm">Mugs</a>
									<a title="Easel Art" href="http://www.treat.com/shop/easel-art.htm">Easel Art</a>
									<a title="Personalized Stationery" href="http://www.treat.com/shop/personalized-note-cards.htm">Personalized Stationery</a>
									<a title="iPhone Cases" href="http://www.treat.com/shop/iphone-case.htm">iPhone Cases</a>
									<a title="Mounted Prints" href="http://www.treat.com/shop/mounted-print.htm">Mounted Prints</a>
									<a title="Canvas Prints" href="http://www.treat.com/shop/custom-canvas.htm">Canvas Prints</a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/gifts.htm">Shop All &rsaquo;</a>
								</span>
				                <span class="sub-image">
				                    <img title="Birthday" alt="Birthday" src="http://static-cdn.tp-global.net/image/treat/misc/sitenav_birthday_2013-09-24.png"/>
				                </span>
							</div>
						</li>

						
						<li class="nav-item three">
							<h2><a title="Occasions" href="/occasions">Occasions</a><span class="indicator"></span></h2>
							<div class="sub-nav">
								<h3>Create a card for any occasion, big or small.</h3>
								<span class="sub-column">
									<h4>HOLIDAYS</h4>
									<a title="Easter" href="http://www.treat.com/shop/easter-greeting-cards.htm">Easter <span class="holiday-date">4/20</span></a>
									<a title="Cinco de Mayo" href="http://www.treat.com/shop/cinco-de-mayo-greeting-cards.htm">Cinco de Mayo <span class="holiday-date">5/5</span></a>
									<a title="Teacher Appreciation Day" href="http://www.treat.com/shop/teacher-day-greeting-cards.htm">Teacher Appreciation Day <span class="holiday-date">5/6</span></a>
									<a title=" Mother's Day" href="/shop/mothers-day-cards.htm"> Mother's Day <span class="holiday-date">5/11</span></a>
									<a title=" Father's Day" href="/shop/fathers-day-cards.htm"> Father's Day <span class="holiday-date">6/15</span></a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/holiday-cards.htm">Shop All &rsaquo;</a>
								</span>
								<span class="sub-column linear-nav">
									<a class="title" title="Birthday" href="http://www.treat.com/birthday-greetings.htm">Birthday</a>
									<a class="first" title="For Her" href="http://www.treat.com/shop/wife-girlfriend-daughter-grandmother-mother-sister--birthday-cards.htm">For Her</a>
									<a title="For Him" href="http://www.treat.com/shop/husband-boyfriend-son-grandfather-father-brother--birthday-cards.htm">For Him</a>
									<a title="Shop All" href="http://www.treat.com/birthday-greetings.htm">All</a>
									<a class="title" title="Thank You" href="http://www.treat.com/thank-you-cards.htm">Thank You</a>
									<a class="first" title="Photo Cards" href="http://www.treat.com/shop/photos--thank_you_cards.htm">Photo</a>
									<a title="Non-Photo Cards" href="http://www.treat.com/shop/0photos--thank_you_cards.htm">Non-Photo</a>
									<a title="Shop All" href="http://www.treat.com/thank-you-cards.htm">All</a>
									<a class="title" title="Congrats" href="http://www.treat.com/congratulations-cards.htm">Congrats</a>
									<a class="first" title="Baby" href="http://www.treat.com/shop/new-baby-congratulations-cards.htm">Baby</a>
									<a title="Wedding" href="http://www.treat.com/shop/wedding-congratulations-cards.htm">Wedding</a>
									<a title="Shop All" href="http://www.treat.com/congratulations-cards.htm">All</a>
									<a class="title" title="Anniversary " href="http://www.treat.com/anniversary-cards.htm">Anniversary </a>
									<a class="first" title="For Her" href="http://www.treat.com/shop/wife-girlfriend--anniversary_cards.htm">For Her</a>
									<a title="For Him" href="http://www.treat.com/shop/husband-boyfriend--anniversary_cards.htm">For Him</a>
									<a title="Shop All" href="http://www.treat.com/anniversary-cards.htm">All</a>
								</span>
								<span class="sub-column">
									<a title="Thinking of You" href="http://www.treat.com/shop/thinking_of_you_cards.htm">Thinking of You</a>
									<a title="Sympathy" href="http://www.treat.com/shop/sympathy_cards.htm">Sympathy</a>
									<a title="Get Well" href="http://www.treat.com/shop/get-well-soon-cards.htm">Get Well</a>
									<a title="Encouragement" href="http://www.treat.com/shop/encouragement-greeting-cards.htm">Encouragement</a>
									<a title="Friendship" href="http://www.treat.com/shop/friendship_cards.htm">Friendship</a>
									<a title="Blank" href="http://www.treat.com/shop/blank_cards.htm">Blank</a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/occasions/">Shop All &rsaquo;</a>
								</span>
				                <span class="sub-image">
				                    <img title="Occasions" alt="Occasions" src="http://static-cdn.tp-global.net/image/treat/misc/sitenav_occasions_2013-09-24.png"/>
				                </span>
							</div>
						</li>
						
						<li class="nav-item four">
							<h2><a title="Digital Cards" href="/digital/">Digital Cards</a><span class="indicator"></span></h2>
							<div class="sub-nav">
								<h3>Need to get it there today? Send a digital card for just 99&cent;.</h3>
								<span class="sub-column">
									<h4>HOLIDAYS</h4>
									<a title="Easter" href="http://www.treat.com/shop/d--easter-greeting-cards.htm">Easter <span class="holiday-date">4/20</span></a>
									<a title="Cinco de Mayo" href="http://www.treat.com/shop/d--cinco-de-mayo-greeting-cards.htm">Cinco de Mayo <span class="holiday-date">5/5</span></a>
									<a title="Teacher Appreciation Day" href="http://www.treat.com/shop/d--teacher-day-greeting-cards.htm">Teacher Appreciation Day <span class="holiday-date">5/6</span></a>
									<a title=" Mother's Day" href="http://www.treat.com/shop/d--mothers-day-cards.htm"> Mother's Day <span class="holiday-date">5/11</span></a>
									<a title=" Father's Day" href="/shop/d--fathers-day-cards.htm"> Father's Day <span class="holiday-date">6/15</span></a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/holiday-cards.htm">Shop All &rsaquo;</a>
								</span>
								<span class="sub-column linear-nav">
									<a class="title" title="Birthday" href="http://www.treat.com/shop/d--birthday-cards.htm">Birthday</a>
									<a class="first" title="For Her" href="http://www.treat.com/shop/wife-girlfriend-daughter-grandmother-mother-sister-d--birthday-cards.htm">For Her</a>
									<a title="For Him" href="http://www.treat.com/shop/husband-boyfriend-son-grandfather-father-brother-d--birthday-cards.htm">For Him</a>
									<a title="Shop All" href="http://www.treat.com/shop/d--birthday-cards.htm">All</a>

									<a class="title" title="Thank You" href="http://www.treat.com/shop/d--thank_you_cards.htm">Thank You</a>
									<a class="first" title="Photo Cards" href="http://www.treat.com/shop/photos-d--thank_you_cards.htm">Photo</a>
									<a title="Non-Photo Cards" href="http://www.treat.com/shop/0photos-d--thank_you_cards.htm">Non-Photo</a>
									<a title="Shop All" href="http://www.treat.com/shop/d--thank_you_cards.htm">All</a>

									<a class="title" title="Congrats" href="http://www.treat.com/shop/d--congratulations_cards.htm">Congrats</a>
									<a class="first" title="Baby" href="http://www.treat.com/shop/d--new-baby-congratulations-cards.htm">Baby</a>
									<a title="Wedding" href="http://www.treat.com/shop/d--wedding-congratulations-cards.htm">Wedding</a>
									<a title="Shop All" href="http://www.treat.com/shop/d--congratulations_cards.htm">All</a>

									<a class="title" title="Anniversary " href="http://www.treat.com/shop/d--anniversary_cards.htm">Anniversary </a>
									<a class="first" title="For Her" href="http://www.treat.com/shop/wife-girlfriend-d--anniversary_cards.htm">For Her</a>
									<a title="For Him" href="http://www.treat.com/shop/husband-boyfriend-d--anniversary_cards.htm">For Him</a>
									<a title="Shop All" href="http://www.treat.com/shop/d--anniversary_cards.htm">All</a>
								</span>
								<span class="sub-column">
									<a title="Thinking of You" href="http://www.treat.com/shop/d--thinking_of_you_cards.htm">Thinking of You</a>
									<a title="Sympathy" href="http://www.treat.com/shop/d--sympathy_cards.htm">Sympathy</a>
									<a title="Get Well" href="http://www.treat.com/shop/d--get-well-soon-cards.htm">Get Well</a>
									<a title="Encouragement" href="http://www.treat.com/shop/d--encouragement-greeting-cards.htm">Encouragement</a>
									<a title="Friendship" href="http://www.treat.com/shop/d--friendship_cards.htm">Friendship</a>
									<a title="Blank" href="http://www.treat.com/shop/d--blank_cards.htm">Blank</a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/shop/d--greeting_cards.htm">Shop All &rsaquo;</a>
								</span>
				                <span class="sub-image">
				                    <img title="Digital Cards" alt="Digital Cards" src="http://static-cdn.tp-global.net/image/treat/misc/sitenav_digital_2013-09-24.png"/>
				                </span>
							</div>
						</li>
						
						
						<li class="nav-item five">
							<h2><a title="Gifts" href="http://www.treat.com/gifts.htm">Gifts</a><span class="indicator"></span></h2>
							<div class="sub-nav">
								<h3>Give a gift that knows just how to make them smile.</h3>
								<span class="sub-column">
									<a title="Mugs" href="http://www.treat.com/shop/personalized-mug.htm">Mugs</a>
									<a title="Easel Art" href="http://www.treat.com/shop/easel-art.htm">Easel Art</a>
									<a title="Personalized Stationery" href="http://www.treat.com/shop/personalized-note-cards.htm">Personalized Stationery</a>
									<a title="iPhone Cases" href="http://www.treat.com/shop/iphone-case.htm">iPhone Cases</a>
									<a title="Shop All" class="show-all" href="http://www.treat.com/gifts.htm">Shop All &rsaquo;</a>
								</span>
								<span class="sub-column">
									<a title="Mounted Prints" href="http://www.treat.com/shop/mounted-print.htm">Mounted Prints</a>
									<a title="Canvas Prints" href="http://www.treat.com/shop/custom-canvas.htm">Canvas Prints</a>
									<a title="Add a Gift Card" href="http://www.treat.com/gift-cards.htm">Add a Gift Card</a>
								</span>
				                <span class="sub-image">
				                    <img title="Gifts" alt="Gifts" src="http://static-cdn.tp-global.net/image/treat/misc/sitenav_gifts_2013-09-24.png"/>
				                </span>
							</div>
						</li>
						
				</ol><!-- nav -->
		</div><!-- site_nav-->
		
	</div><!-- .wrap -->
	<div id="smb" class="row">
	<div class="wrap">
		<a class="left" title="Save 15% on any Card Club pack!" href="/choose-plan.htm">Save 15% on any Card Club pack! Code: MOM15TCC | Ends 4/22</a>
		<!--<a class="left" title="Save 20% on All Cards! Code: HOLCARDS20 | Ends: 12/20" href="/occasions/">Save 20% on All Cards! Code: HOLCARDS20 | Ends: 12/20</a>-->
		<a class="right" title="Order cards by 5/6 for Mother's Day delivery!" href="/shipping.htm">Order cards by 5/6 for Mother's Day delivery! <em>See Delivery Info &rsaquo;</em></a>
	</div>
</div></div><!-- #Header --><!--needs to be loaded before protoaculous-->
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="http://static-cdn.tp-global.net/js/protoaculous.1.9.1.min.js" type="text/javascript"></script>
<script src="http://static-cdn.tp-global.net/jspackage/treat.common/v201404161033" type="text/javascript"></script>

<script type="text/javascript">
	var fbAppId = "101055223343465";
	var clickedFbLoginImportInReminders = false;
	
	Event.observe(document, 'dom:loaded', function(){
		TP.init();
		var nav = new TP.Site.Widgets.NavSign({
			containerId : 'signin_out_span',
			signinTitle: 'Sign in to Your Account',
			signoutTitle: 'Sign out'
		});
		var fbLoginContainer = $('fbLoginContainer');
		if (TP.getCookie('valid_site_user')) {
			if(TP.getCookie('logged_in_with_fb')) {
				var fbUID = TP.getCookie('logged_in_via_fb_uid');
				var firstName = TP.getCookie('logged_in_via_fb_fn');
				var headerFBSignIn = $('headerFBsignin');
				if (fbUID && firstName && headerFBSignIn){
					fbLoginContainer.update();
					fbLoginContainer.removeClassName('sprite-fb-signin');
					fbLoginContainer.addClassName('treatFBProfileContainer');
					var currProtocol = window.location.protocol ? window.location.protocol : "http:";
					var fbProfilePicUrl = currProtocol + '//graph.facebook.com/'+ fbUID +'/picture';
					var img = new Element('div').insert(new Element('img', {'src': fbProfilePicUrl, 'class': 'treatFbProfilePic'}));
					img.insert(new Element('div', {'class': 'treatFbGreetings'}).update('Hello, '+ firstName));
					fbLoginContainer.insert(img);
					headerFBSignIn.setStyle({width: '180px'});
				}
			}else {
				if (fbLoginContainer) {
					fbLoginContainer.hide();
				}
			}
		}
		
		var loginFlag = (TP.getCookie('valid_site_user')) ? 1: 0;
	});
</script>



    <div id="content-contain">
        <div id="occ_lp" class="wrap occ">
            <div id="breadcrumb">
                <p id="breadcrumb"><a title="Home" href="/">Home</a> : Refer A Friend 2</p>
            </div>
            <!-- Begin Curebit integration code -->
                <script>
                //<![CDATA[
                    var _curebitq = _curebitq || [];
                    _curebitq.push(['init', {
                      site_id: window.location.host == "www.treat.com" ? 'treat' : 'treat', // REQUIRED - Curebit Site ID
                      server: 'https://www.curebit.com' // OPTIONAL - Use your own domain (enterprise only)
                    }]);
                 
                 
                    _curebitq.push(['register_affiliate', {
                      iframe: { // REQUIRED - html attributes for iframe tag to fit page design
                        width: "100%", // REQUIRED - width of the iframe
                        height: 480, // REQUIRED - initial height of the iframe. Will be automatically updated if responsive option is set to true.
                        id: "new_curebit_affiliate_member", // OPTIONAL - any other HTML attribute
                        frameborder: 0 // OPTIONAL - removes border from IE
                      },
                 
                      affiliate_member: { // OPTIONAL - curebit will ask person to signup
                                          // in case when his email is not given by merchant
                        email: "", // OPTIONAL - LEAVE THIS FIELD BLANK (do not pass value unless user is logged in)
                        first_name: "<%= first.name %>", // OPTIONAL - customer first name (do not pass value unless user is logged in)
                        last_name: "<%= last.name %>", // OPTIONAL - customer last name (do not pass value unless user is logged in)
                        customer_id: "customer.id" // OPTIONAL - customer ID from your site
                      },
                      responsive: true, // REQUIRED - fit iframe into viewport (also on resize) and allow Curebit display mobile templates
                      campaign_tags: ['public'] // REQUIRED - campaign tags for offer targeting
                    }])
                 
                //]]>
                </script>
                <script src="//d2jjzw81hqbuqv.cloudfront.net/assets/api/all-0.6.js" type="text/javascript"></script>
        <!-- End Curebit integration code -->
        </div>
    </div>
    <div id="footer">
	<div class="wrap clearfix">
		<div id="footer_nav" class="row">
			<!-- MAILING LIST SIGNUP FORM -->
			<div id="footer_signup" class="col onetwo">
				<span id="foot-signup-error">  </span>
				<form action="/email-signup.php" method="post" id="foot_email_signup">
					<h3><label for="newsletter-signup">Want to hear from us?</label></h3>
					<span>
						<input name="action" value="signup" type="hidden" />
						<input type="email" id="newsletter-signup-form" value="Enter your email address" class="input" name="email" onfocus=" if(this.value == 'Enter your email address') { this.value = ''; }"/>
						<input type="submit" value="Submit" class="btn" title="Submit"  />
					</span>
				</form><br />
				<div id="footer-headline">
					<img src="http://static-cdn.tp-global.net//image/treat/misc/footer-headline-2014-04-10.jpg" alt="">
				</div>
			</div>
			<div class="col threefour">
				<h3>GET TO KNOW TREAT</h3>
				<div class="col one">
					<ul>
						<li><a title="About Us"  href="http://www.treat.com/about-us.htm">About Us</a></li>
						<li><a title="Our Card Designers" href="http://www.treat.com/featured-designers/">Our Designers</a></li>
						<li><a title="In The Press" href="http://www.treat.com/press/index.htm">In The Press</a></li>
						<li><a title="Visit Our Blog"  href="http://blog.treat.com/" target="_blank">Visit Our Blog</a></li>
					</ul>
				</div>
				<div class="col two">
					<ul>
						<li><a title="Treat Card Club" href="http://www.treat.com/choose-plan.htm">Treat Card Club</a></li>
						<li><a title="Gift Cards" href="http://www.treat.com/gift-cards.htm">Gift Cards</a></li>
						<li><a title="Affiliate Program" href="http://www.tinyprints.com/affiliate-program/"  rel="nofollow" target="_blank">Affiliate Program</a></li>
						<li><a href="http://www.treat.com/tips-and-articles.htm" title="Tips and Articles">Tips and Articles</a></li>
					</ul>
				</div>
			</div>
	
			<div class="col five">
				<h3>Have Questions?</h3>
				<ul>
					<li><a title="FAQs" href="http://www.treat.com/orderinfo.htm">FAQs</a></li>
					<li><a title="Photo Guidelines" href="http://www.treat.com/photo-guidelines.htm">Photo Guidelines</a></li>
					<li><a title="My Order Status" href="http://www.treat.com/MyAccount.php?ref=account.php">My Order Status</a></li>
				</ul>
			</div>
			<div class="col six">
				<h3>Just ask</h3>
				<ul>
											<li><a title="Live Chat" href="http://treat.custhelp.com/app/treat_chat/chat_launch" id="footerLiveChatLink" target="_new">Live Chat</a></li>
										<li><a title="Email" href="http://www.treat.com/contact-us/index.htm">Email</a></li>
					<li><a title="Contact Us" href="http://www.treat.com/contact-us/index.htm">Contact Us</a></li>
				</ul>
			</div>
			<div id="footer_social" class="col seveneight">
				<h3>Let's Keep In Touch</h3>
				<a class="facebook" title="Like us on Facebook" href="http://www.facebook.com/TreatCards" target="_blank">like us</a>
				<a class="pinterest" title="Follow us on Pinterest" href="http://www.pinterest.com/treatcards/">follow us</a>
				<a class="twitter" title="Follow us on Twitter" href="https://twitter.com/#!/treatcards"  target="_blank">follow us</a>
				<a class="googleplus" title="+1 us on Google Plus" href="https://plus.google.com/+TreatCards/" target="_blank">+1 us</a>
				<span class="greeting"></span>
			</div>
		</div>

		<div id="legal" class="row linear-nav">
			
			<p>Copyright &copy; 2014 Shutterfly. Inc <a class="link" title="Terms of Use" href="http://shutterfly-inc.com/terms.html" target="_blank">Terms of Use</a>
				<a class="link" title="Privacy Policy" href="http://shutterfly-inc.com/privacy.html" target="_blank">Privacy Policy</a>
				<br />Designated trademarks and brands are the property of their respective owners.</p>
		</div><!-- #legal -->

	</div><!-- .wrap -->
</div><!-- #Footer -->

<script src="http://static-cdn.tp-global.net/js/site/tpProactiveChat.js/v201404161033"></script>


	
	<script>
	var chatSubscriber = new TP.ChatSubscriber(
		[],
		'{$site->hosts->staticCache}js/site/rightNowProactiveChat.js',
		location.protocol+"//tinyprints.widget.custhelp.com/ci/ws/get"
	);
	</script>
	<script>
		var pinterestLink = $$('a.pinterest')[0];
		if ( pinterestLink ){
			pinterestLink.observe('click', function(e){
				Event.stop(e);
				_gaq.push(['_trackEvent','Pinterest','Pinterest_Account_Clicked','Footer']);
				window.open('http://www.pinterest.com/treatcards/', '_blank');
				return false;
			});
		}
	</script>
	<script>
		/* ========= STICKY NAV ============== */
		jQuery(document).ready(function($) {
			var pageTOP = $(window).scrollTop(),
				LOC = {"stickyNav":60};
			$(window).scroll(function(){
				//STICKY NAV
				if( $(this).scrollTop() >= LOC.stickyNav ){
					$("#header").addClass("sticky");
				} else {
					$("#header").removeClass("sticky");
				}
			});
			
		});
	</script>

	<!--Begin: www.iperceptions.com -->
	<script type="text/javascript">
		(function (d, f) {
		var c = d.cookie;
		if (!(/(^|;)\s*IPE(_S_)?116081=/.test(c))) {
		var s = d.createElement('script'), a = "async", b = "defer";
		s.setAttribute(a, a);
		s.setAttribute(b, b);
		s.type = 'text/javascript';
		s.src = f;
		d.getElementsByTagName('head')[0].appendChild(s);
		}
		})(document, document.location.protocol + "//ips-invite.iperceptions.com/invitations/invitationsJS/116/s116081/gateway.js");
	</script>
	<!--End: www.iperceptions.com --> 
	
	<script>
		jQuery(document).ready(function($){
		    /*  DEBUGGING 
		    $("#content-contain h1").click(function(){
		    	is_firstTime_Visitor = false;   //DEBUGGING CODE
		    	createCookie("valid_site_user","true","");  //DEBUGGING CODE
		    	createCookie("site_user","true","");  //DEBUGGING CODE
		    	createCookie("logged_in_via_fb_fn","Jojo","");  //DEBUGGING CODE
		    	createCookie("valid_site_user_fname","JoAnne","");  //DEBUGGING CODE
		    });
		    */
		    

		    if (!is_firstTime_Visitor) {     // RETURNING MEMBER
		    	$("#utility_nav").removeClass("new-visitor");
		        if ( readCookie("valid_site_user") ){   
		        	//$("#content h1").html("Debugging LOGGED-IN member").css({"color":"cyan"});
			    	$("#utility_nav").addClass("active-member");	// LOGGED IN MEMBER
			    	$("#myaccount").addClass("first");
		        } else {
			    	$("#utility_nav").addClass("returning-member");	// RETURNING MEMBER
			        $("#welcome-greeting").html("Welcome back");
		        }
		    } else {  // FIRST TIME VISITOR
		        // DO NOTHING
		    }  

		});
	</script>


</div>

<!-- Omniture Begin -->
<script language="Javascript" type="text/javascript" charset="utf-8" src="http://static-cdn.tp-global.net/js/site/omnitureScode.js"></script>
<script language="Javascript" type="text/javascript" charset="utf-8" src="http://static-cdn.tp-global.net/js/site/omnitureScodeWrapper.js"></script>
<script language="Javascript" type="text/javascript">
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
try{
	var scwobj = new scw();
	scwobj.translateSCWBase();
	if(scwobj.canFire){
		var s_code=scode.t();
		window.omf = true;
		if(s_code){
			document.write(s_code);
		}
	}
}catch(e){
	omnitureLoadErrorInfo = e;
}
</script>
<script language="JavaScript" type="text/javascript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
src="http://shutterfly.112.2o7.net/b/ss/sflydev/1/H.15.1--NS/0"
height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.15.1. -->
<!-- Omniture Ends -->
</body>
</html>
